@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}
a:visited, a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

input[type=button], input[type=submit] {
  cursor: pointer;
}

body {
  flex: 1 0 2000px;
  font-family: "Comfortaa", cursive;
  font-size: 1rem;
}

.wrapper {
  display: grid;
  grid-template-rows: 100px 1fr 75px;
  grid-template-areas: "header" "main" "footer";
  height: 100%;
  gap: 50px;
}

.scroll-lock {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection {
  background: orangered;
}

p::selection, span::selection, div::selection, img::selection {
  background: orangered;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.1875rem;
}

h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1.5625rem;
}

.header {
  grid-area: header;
  position: fixed;
  width: 100%;
  height: 100px;
  display: grid;
  grid-template: 1fr/5% 60px 1fr 5%;
  grid-template-areas: "space1 logo navigation space2";
  align-items: center;
  background: #003B46;
  transition: 0.5s;
  z-index: 10;
}
.header__logo {
  grid-area: logo;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #c4dfe6;
  transition: 0.5s;
}
.header__navigation {
  width: 80%;
  grid-area: navigation;
  justify-self: center;
  transition: 0.5s;
}
.header__buttons {
  display: flex;
  justify-content: space-between;
}
.header__item {
  position: relative;
  overflow: hidden;
  padding-bottom: 5px;
}
.header__item:hover span {
  left: 0;
}
.header__button {
  background: none;
  color: #c4dfe6;
  font-size: 20px;
  text-transform: uppercase;
  transition: 1s;
}
.header__underline {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: #c4dfe6;
  left: -100%;
  transition: 0.2s ease-in-out;
}
.header__underlined span {
  left: 0;
}
.header__burger-button {
  grid-area: navigation;
  justify-self: end;
  width: 40px;
  height: 40px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.header__burger-button span {
  display: block;
  width: 100%;
  height: 5px;
  background: #c4dfe6;
  border-radius: 2.5px;
}

.burger {
  position: fixed;
  top: -100%;
  height: 100%;
  width: 100%;
  background: #07575B;
  padding-top: 100px;
  transition: 0.5s;
  z-index: 9;
}
.burger__menu {
  height: 100%;
  padding: 50px;
}
.burger__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.burger__item {
  position: relative;
  padding-bottom: 2px;
  overflow: hidden;
}
.burger__item:hover span {
  left: 0;
}
.burger__form input {
  background: none;
  color: #c4dfe6;
  font-size: 30px;
}
.burger__underline {
  position: absolute;
  display: block;
  height: 1px;
  width: 100%;
  background: #c4dfe6;
  left: -100%;
  transition: 0.2s;
}
.burger__underlined span {
  left: 0;
}

.burger_active {
  top: 0;
}

.scrolled.header {
  height: 50px;
}
.scrolled.header__logo {
  height: 40px;
  width: 40px;
}
.scrolled.header__navigation {
  margin-right: -20%;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.main > * {
  margin-bottom: 50px;
}
.main:last-child {
  margin-bottom: 0;
}

.footer {
  grid-area: footer;
  height: 75px;
  width: 100%;
  background: #003B46;
}

.links {
  width: 100%;
  height: 100%;
}
.links__list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 25px;
  height: 100%;
}
.links__item {
  width: 50px;
  height: 50px;
}
.links__form {
  height: 100%;
}
.links__button {
  width: 100%;
  height: 100%;
}
.links__button_instagram {
  background: url("../img/icon-instagram.png");
}
.links__button_telegram {
  background: url("../img/icon-telegram.png");
}
.links__button_github {
  background: url("../img/icon-github.png");
}
.links__button_instagram, .links__button_telegram, .links__button_github {
  background-size: 100%;
}

.button_bg_orangered {
  background: orangered;
}

@media (max-width: 900px) {
  .header__navigation {
    display: none;
  }
  .header__burger-button {
    display: flex;
  }
  .hi {
    display: flex;
    flex-direction: column;
    padding: 50px 25px;
  }
  .hi__info {
    display: none;
  }
  .special-offer {
    display: block;
  }
  .special-offer__image {
    margin-bottom: 20px;
  }
  .special-offer__body {
    padding: 0;
  }
  .services {
    padding: 0 25px;
  }
}
@media (max-width: 700px) {
  .services__list {
    display: flex;
    flex-direction: column;
  }
}
.special-offer {
  display: grid;
  grid-template: 1fr/60% 40%;
  gap: 50px;
  padding: 50px;
}
.special-offer_bg_lightblue {
  background: #c4dfe6;
}
.special-offer__image {
  padding: 0 0 100% 0;
  overflow: hidden;
  position: relative;
}
.special-offer__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.special-offer__image {
  padding: 0 0 60% 0;
}
.special-offer__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 100px 20px;
}
.special-offer__title {
  margin-bottom: 10px;
}
.special-offer__description {
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
.special-offer__button {
  width: 200px;
  height: 50px;
  font-size: 25px;
  transition: 0.1s;
}
.special-offer__button:hover {
  transform: scale(1.1);
}

@media (max-width: 900px) {
  .special-offer {
    display: block;
    padding: 25px;
  }
  .special-offer__image {
    margin-bottom: 20px;
  }
  .special-offer__body {
    padding: 0;
  }
  .special-offer__button {
    width: 100%;
  }
}
.apartments-offer {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "image1 image2" "title1 title2" "description1 description2" "button1 button2";
  gap: 30px;
  padding: 0 50px;
}
.apartments-offer__image {
  padding: 0 0 100% 0;
  overflow: hidden;
  position: relative;
}
.apartments-offer__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.apartments-offer__description {
  margin-bottom: 10px;
}
.apartments-offer__button {
  width: 200px;
  height: 50px;
  font-size: 25px;
  transition: 0.1s;
}
.apartments-offer__button:hover {
  transform: scale(1.1);
}
.apartments-offer__title, .apartments-offer__description, .apartments-offer__button {
  justify-self: center;
}

.other-apartments {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  background: #c4dfe6;
  padding: 50px;
  margin-bottom: 0;
}

.item {
  display: grid;
  background: none;
}
.item__image {
  padding: 0 0 100% 0;
  overflow: hidden;
  position: relative;
}
.item__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.item__image {
  margin-bottom: 20px;
}
.item__title {
  margin-bottom: 20px;
  align-self: center;
  justify-self: center;
  background: none;
  min-height: 3.75rem;
  text-align: center;
}
.item__button {
  height: 50px;
  align-self: flex-end;
  text-transform: uppercase;
  font-size: 20px;
  transition: 0.1s;
}
.item__button:hover {
  transform: scale(1.05);
}

.itc-slider {
  background: none;
}
.itc-slider-item {
  flex: 0 0 33.3333%;
}
.itc-slider-items {
  --gap: 10px;
  gap: var(--gap);
}

@media (max-width: 1024px) {
  .other-apartments {
    padding: 50px 20px;
  }
  .itc-slider {
    max-width: 767px;
  }
  .itc-slider-item {
    flex: 0 0 calc(50% - var(--gap) / 2);
  }
}
@media (max-width: 900px) {
  .apartments-offer {
    display: block;
    padding: 0 25px;
  }
  .apartments-offer__image {
    margin-bottom: 10px;
  }
  .apartments-offer__title {
    text-align: center;
    margin-bottom: 10px;
  }
  .apartments-offer__button {
    width: 100%;
    margin-bottom: 20px;
  }
  .itc-slider {
    max-width: 667px;
  }
}
@media (max-width: 800px) {
  .itc-slider {
    max-width: 550px;
  }
}
@media (max-width: 600px) {
  .itc-slider {
    max-width: 450px;
  }
}
@media (max-width: 500px) {
  .itc-slider {
    max-width: 375px;
  }
  .itc-slider-item {
    flex: 0 0 calc(100% - var(--gap) / 2);
  }
}
@media (max-width: 425px) {
  .itc-slider {
    max-width: 325px;
  }
}
@media (max-width: 375px) {
  .itc-slider {
    max-width: 275px;
  }
}

/*# sourceMappingURL=booking.css.map */
