@import url("https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}
a:visited, a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

input[type=button], input[type=submit] {
  cursor: pointer;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.wrapper {
  display: grid;
  grid-template: 100px 1fr 75px/1fr;
  grid-template-areas: "header" "main" "footer";
  gap: 50px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection {
  background: orangered;
}

p::selection, span::selection {
  background: orangered;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

.header {
  grid-area: header;
  position: fixed;
  width: 100%;
  height: 100px;
  display: grid;
  grid-template: 1fr/5% 60px 1fr 5%;
  grid-template-areas: "space1 logo navigation space2";
  align-items: center;
  background: #003B46;
  transition: 0.5s;
  z-index: 10;
}
.header__logo {
  grid-area: logo;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #c4dfe6;
  transition: 0.5s;
}
.header__navigation {
  width: 80%;
  grid-area: navigation;
  justify-self: center;
  transition: 0.5s;
}
.header__buttons {
  display: flex;
  justify-content: space-between;
}
.header__button {
  background: none;
  color: #c4dfe6;
  font-size: 20px;
  text-transform: uppercase;
  transition: 1s;
}
.header__button:hover {
  text-decoration: underline;
}

.scrolled.header {
  height: 50px;
}
.scrolled.header__logo {
  height: 40px;
  width: 40px;
}
.scrolled.header__navigation {
  margin-right: -20%;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
}
.main > * {
  margin-bottom: 50px;
}
.main:last-child {
  margin-bottom: 0;
}

.footer {
  grid-area: footer;
  height: 75px;
  background: #003B46;
}

.links {
  width: 100%;
  height: 100%;
  padding: 0 50px;
}
.links__list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.links__item {
  width: 50px;
  height: 50px;
  margin: 0 25px;
}
.links__form {
  height: 100%;
}
.links__button {
  width: 100%;
  height: 100%;
}
.links__button_instagram {
  background: url("../img/icon-instagram.png");
}
.links__button_telegram {
  background: url("../img/icon-telegram.png");
}
.links__button_github {
  background: url("../img/icon-github.png");
}
.links__button_instagram, .links__button_telegram, .links__button_github {
  background-size: 100%;
}

.button_bg_orangered {
  background: orangered;
}

.hi {
  display: grid;
  grid-template: auto/40% 40%;
  gap: 30px;
  justify-content: center;
  margin-bottom: 50px;
}
.hi img {
  width: 100%;
  margin-bottom: 25px;
}
.hi__greetings {
  padding: 25px;
  background: white;
}
.hi__title {
  margin-bottom: 25px;
}
.hi__description {
  margin-bottom: 25px;
}

.special-offer {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(5, 1fr);
  gap: 50px;
  padding: 50px;
}
.special-offer_bg_lightblue {
  background: #c4dfe6;
}
.special-offer__image {
  grid-row: span 2;
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.special-offer__image img {
  width: 100%;
}
.special-offer__body {
  grid-row: span 2;
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 100px 20px;
}
.special-offer__title {
  margin-bottom: 10px;
}
.special-offer__description {
  font-size: 20px;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
.special-offer__button {
  width: 200px;
  height: 50px;
  font-size: 25px;
  transition: 0.1s;
}
.special-offer__button:hover {
  transform: scale(1.1);
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
.services__title {
  margin-bottom: 50px;
}
.services__body {
  width: 100%;
  padding: 0 50px;
}
.services__list {
  display: grid;
  gap: 30px;
  grid-template: 1fr/repeat(3, 1fr);
}
.services__item {
  padding: 15px;
  background: #07575B;
  width: 100%;
  height: auto;
}

.offer-services {
  display: grid;
  color: #c4dfe6;
}
.offer-services__image {
  margin-bottom: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.offer-services__image img {
  height: 300px;
  object-fit: cover;
}
.offer-services__title {
  margin-bottom: 10px;
  justify-self: center;
}
.offer-services__description {
  margin-bottom: 10px;
}
.offer-services__button {
  align-self: flex-end;
  height: 50px;
  color: #07575B;
  font-size: 20px;
  transition: 0.1s;
}
.offer-services__button:hover {
  transform: scale(1.05);
}

.apartments-offer {
  display: grid;
  grid-template: 500px auto auto 50px/repeat(2, 1fr);
  grid-template-areas: "image1 image2" "title1 title2" "description1 description2" "button1 button2";
  gap: 30px;
  padding: 0 50px;
}
.apartments-offer__image {
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.apartments-offer__image img {
  height: 100%;
}
.apartments-offer__button {
  width: 200px;
  height: 50px;
  font-size: 25px;
  transition: 0.1s;
}
.apartments-offer__button:hover {
  transform: scale(1.1);
}
.apartments-offer__title, .apartments-offer__description, .apartments-offer__button {
  justify-self: center;
}

.other-apartments {
  display: grid;
  grid-template: auto 1fr/repeat(5, 1fr);
  grid-template-areas: "title title title title title" "arrow-left apartments1 apartments2 apartments3 arrow-right";
  gap: 30px;
  justify-content: center;
  background: #c4dfe6;
  padding: 50px;
}
.other-apartments__title {
  grid-area: title;
  justify-self: center;
}
.other-apartments__image {
  height: 150px;
  width: 100%;
  overflow: hidden;
  display: flex;
}
.other-apartments__image img {
  height: 100%;
}

.contacts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-items: center;
  justify-items: center;
  margin: 0 50px;
  padding: 20px 50px;
  background: #c4dfe6;
  font-size: 20px;
}
.contacts__title {
  grid-column: span 3;
}
.contacts__item {
  width: 100%;
}
.contacts__description {
  display: flex;
  flex-direction: column;
}
.contacts__image {
  position: relative;
  padding-bottom: 100%;
  margin-bottom: 20px;
}
.contacts__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.contacts__person:before {
  content: "Person:";
  margin-right: 10px;
  font-weight: 700;
}
.contacts__position:before {
  content: "Position:";
  margin-right: 10px;
  font-weight: 700;
}
.contacts__contact {
  display: flex;
  flex-direction: column;
}
.contacts__address {
  position: relative;
  padding-left: 35px;
  color: black;
}
.contacts__address_email:before, .contacts__address_phone-number:before {
  margin-right: 5px;
  top: 0;
  left: 0;
  font-weight: 700;
  position: absolute;
}
.contacts__address_email:before {
  content: "@";
}
.contacts__address_phone-number:before {
  content: "";
  background: url("../img/phone.png") no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
}

.gallery__title {
  text-align: center;
}
.gallery__photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 10px;
  padding: 10px;
}
.gallery__image {
  position: relative;
  padding-bottom: 100%;
}
.gallery__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
